<html>
<body>
   <h1>Configure Loopback</h1>
   <form action = "configure_loopback">
      <label for="loopback_id">Loopback ID:</label>
      <input type="number" name = "loopback_id" value = "" required min = 0 max = 2147483647>
      <label for="loopback_ip">Loopback IP</label>
      <input type="text" name="loopback_ip" value="" required>
      <label for="loopback_subnet_mask">Loopback Subnet Mask</label>
      <input type="text" name="loopback_subnet_mask" value="" required>
      <input type="submit" value="Submit">
   </form>
   <br>
   <br>
   <h1>Delete Loopback</h1>
   <form action = "delete_loopback">
      <label for="loopback_id">Loopback ID:</label>
      <input type="number" name = "loopback_id" value = "" required min = 0 max = 2147483647>
      <input type="submit" value="Submit">
   </form>
   <br>
   <br>
   <h1>List Interfaces</h1>
   <form action = "list_interfaces">
      <input type="submit" value="List Interfaces">
   </form>
      <br>
   <br>
   <h1>Change Dry Run</h1>
   <form action = "change_dry_run">
      <input type="submit" value="Change Dry Run">
   </form>
</body>
</html>